
h1{
    background:rgb(43,87,154);
    text-transform: uppercase;
}
p{
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-size: 20px;
}
h2{
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-size: 20px;
}